	<footer>
        <div class="container-fluid">
          <div class="row ">
              <dir class="col-12 col-lg-3 pr-0">
                <div class="logo-link d-flex align-items-center">
                  <a href="/">
                    <img class="logo-img2" src="/images/vdisk.png">
                  Виниломания
                  </a>
                </div>
                <div class="description">
                  Интернет-магизин виниловых и компакт-дисков
                  <br><br>
                  <h4>Наш телефон:</h4>
                  123 456 1234
                  <h4>Email:</h4>
                  email@email.ru
                </div>
              </dir>
               <dir class="col-7  col-lg-6 pl-lg-4 pr-lg-4">
                <div class="description text-center mb-3">
                  ВОПРОСЫ, ПОЖЕЛАНИЯ И ПРЕДЛОЖЕНИЯ
                </div>
                <form action="" method="post" id="contact-form">
                  <div class="form-group">
                    <input type="text" class="form-control" id="InputCustomerName" placeholder="Ваше имя">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="sujInputEmail1" aria-describedby="emailHelp" placeholder="Ваш email">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" id="TextareaMessage" rows="5" placeholder="Ваше сообщение"></textarea>
                  </div>
                  <div class="d-flex justify-content-center mb-3">
                    <div class="g-recaptcha " data-sitekey="#"></div>
                  </div>
                  <div class="d-flex justify-content-center">
                  <input type="submit" class="btn btn-success btn-send" value="Отправить отзыв">
                  </div>
                </form>
              </dir>
               <dir class="col-5 col-lg-3">
                <div class="description mb-3">
                    ПОМОЩЬ:
                </div>
                <div class="description d-flex flex-column">
                  <a href="#">Как сделать заказ</a>
                  <a href="#">Способы и сроки доставки</a>
                  <a href="#">Способы оплаты</a>
                  <a href="#">Что такое предзаказ</a>
                  <a href="#">Скидки</a>
                  <a href="#">Статьи</a>
                </div>
              </dir>
          </div>
        </div>
      </footer>